body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #24c6dc, #514a9d);

  font-family: 'Courier New', Courier, monospace, sans-serif;
}


.center {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

